@font-face {
  font-family: pokemonDaFont;
  src: url(../PokemonSolid.ttf);
}
body {
  height: 100vh;
  margin: 0px;
  background-color: #1d976c;
  font-family: pokemonDaFont;
  font-size: 1.3em;
}
/* * {
  border: 2px red solid;
} */
/* Title */
.pokemonDaFont {
  font-family: pokemonDaFont;
  font-size: 5em;
  color: #e7e54f;
  text-align: center;
  text-shadow: 2px 2px #4d3f0a;
  padding: 40px;
  position: relative;
  background-image: linear-gradient(#1d976c, #93f9b9);
  border-radius: 10px;
}
/* Navbar */
/* do not change color */
.navbar {
  border-radius: 10px;
}
.fa-home {
  font-size: 2.5em;
}
.fa-user-alt,
.fa-shopping-cart {
  font-size: 1.75em;
  padding-top: 20px;
}
.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
}

/* body */
.text-center {
  background-color: #96dac2 !important;
}
.col-8 {
  border-width: 10px !important;
  border-style: groove !important;
}
.cart-border-groove {
  border-width: 10px !important;
  border-style: groove !important;
}
.row {
  background-color: #96dac2 !important;
}
.pokemon-buy {
  border-radius: 50%;
  background-color: red;
}
